Repository Stremax-Team/streamax, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Stremax-Team/core-maintainers, @Stremax-Team/language-team, @Stremax-Team/compiler-team, @Stremax-Team/runtime-team, @Stremax-Team/docs-team, @Stremax-Team/devops, @Stremax-Team/qa-team, @Stremax-Team/security-team, @Stremax-Team/tools-team

.github/CODEOWNERS:

# Global owners
* @Stremax-Team/core-maintainers

# Core language implementation
/src/core/ @Stremax-Team/language-team
/src/compiler/ @Stremax-Team/compiler-team
/src/runtime/ @Stremax-Team/runtime-team

# Documentation
/docs/ @Stremax-Team/docs-team
/website/ @Stremax-Team/docs-team

# Build and CI
/.github/ @Stremax-Team/devops
/scripts/ @Stremax-Team/devops

# Tests
/tests/ @Stremax-Team/qa-team

# Security-critical components
/src/security/ @Stremax-Team/security-team
**/crypto/ @Stremax-Team/security-team

# Tools and utilities
/tools/ @Stremax-Team/tools-team

Add Dependabot configuration and dependency review workflow
  .github/dependabot.yml
  .github/workflows/dependency-review.yml
Owners: @Stremax-Team/devops

Add Stremax logo and icon
  website/assets/branding/stremax-icon.svg
  website/assets/branding/stremax-logo.svg
Owners: @Stremax-Team/docs-team

move logo to branding
  assets/branding/stremax-icon.svg
  assets/branding/stremax-logo.svg
Owners: @Stremax-Team/core-maintainers

Delete website/assets/branding directory
  website/assets/branding/stremax-icon.svg
  website/assets/branding/stremax-logo.svg
Owners: @Stremax-Team/docs-team

Update
  .gitignore
  index.html
  theme/styles.css
Owners: @Stremax-Team/core-maintainers
